##
## LEAP TIGs
##
##                            * * * * * * * * * *
## 
## The SDRAM must be instantiated by a parent into a variable named "sdram".
## 
## These clock domains have meaning only when the device-specific UCF file
## declares a DATAPATHONLY TIMESPEC between them.
## 
##                            * * * * * * * * * *
## m_llpi_phys_plat_sdram_b_0_ddrSynth/dramCtrl_ddr3ctrl
INST "m_sys_sys_vp_m_mod/llpi_phys_plat_sdram_b_ddrSynth/dramReady"                    TNM=TG_ram_clk;
INST "m_sys_sys_vp_m_mod/llpi_phys_plat_sdram_b_ddrSynth/dramReadyDDR"                 TNM=TG_model_clk;
INST "m_sys_sys_vp_m_mod/llpi_phys_plat_sdram_b_ddrSynth/dramReady_ddrClock"           TNM=TG_ram_clk;
INST "m_sys_sys_vp_m_mod/llpi_phys_plat_sdram_b_ddrSynth/dramReady_Model"              TNM=TG_model_clk;
#INST "*_clocks_*/*/reset_hold_*"                TNM=TG_model_clk;

INST "m_sys_sys_vp_m_mod/llpi_phys_plat_sdram_b_ddrSynth/syncRequestQ/Mram_fifoMem*"   TNM=TG_model_clk;
INST "m_sys_sys_vp_m_mod/llpi_phys_plat_sdram_b_ddrSynth/syncRequestQ/dDoutReg*"       TNM=TG_ram_clk;
INST "m_sys_sys_vp_m_mod/llpi_phys_plat_sdram_b_ddrSynth/syncRequestQ/dGDeqPtr*"       TNM=TG_ram_clk;
INST "m_sys_sys_vp_m_mod/llpi_phys_plat_sdram_b_ddrSynth/syncRequestQ/sGEnqPtr*"       TNM=TG_model_clk;
INST "m_sys_sys_vp_m_mod/llpi_phys_plat_sdram_b_ddrSynth/syncRequestQ/dSyncReg1*"      TNM=TG_ram_clk;
INST "m_sys_sys_vp_m_mod/llpi_phys_plat_sdram_b_ddrSynth/syncRequestQ/sSyncReg1*"      TNM=TG_model_clk;
INST "m_sys_sys_vp_m_mod/llpi_phys_plat_sdram_b_ddrSynth/syncRequestQ/sNotFullReg*"    TNM=TG_model_clk;

INST "m_sys_sys_vp_m_mod/llpi_phys_plat_sdram_b_ddrSynth/syncWriteDataQ/Mram_fifoMem*" TNM=TG_model_clk;
INST "m_sys_sys_vp_m_mod/llpi_phys_plat_sdram_b_ddrSynth/syncWriteDataQ/dDoutReg*"     TNM=TG_ram_clk;
INST "m_sys_sys_vp_m_mod/llpi_phys_plat_sdram_b_ddrSynth/syncWriteDataQ/dGDeqPtr*"     TNM=TG_ram_clk;
INST "m_sys_sys_vp_m_mod/llpi_phys_plat_sdram_b_ddrSynth/syncWriteDataQ/sGEnqPtr*"     TNM=TG_model_clk;
INST "m_sys_sys_vp_m_mod/llpi_phys_plat_sdram_b_ddrSynth/syncWriteDataQ/dSyncReg1*"    TNM=TG_ram_clk;
INST "m_sys_sys_vp_m_mod/llpi_phys_plat_sdram_b_ddrSynth/syncWriteDataQ/sSyncReg1*"    TNM=TG_model_clk;
INST "m_sys_sys_vp_m_mod/llpi_phys_plat_sdram_b_ddrSynth/syncWriteDataQ/sNotFullReg*"  TNM=TG_model_clk;

INST "m_sys_sys_vp_m_mod/llpi_phys_plat_sdram_b_ddrSynth/syncReadDataQ/Mram_fifoMem*"  TNM=TG_ram_clk;
INST "m_sys_sys_vp_m_mod/llpi_phys_plat_sdram_b_ddrSynth/syncReadDataQ/dDoutReg*"      TNM=TG_model_clk;
INST "m_sys_sys_vp_m_mod/llpi_phys_plat_sdram_b_ddrSynth/syncReadDataQ/dGDeqPtr*"      TNM=TG_model_clk;
INST "m_sys_sys_vp_m_mod/llpi_phys_plat_sdram_b_ddrSynth/syncReadDataQ/sGEnqPtr*"      TNM=TG_ram_clk;
INST "m_sys_sys_vp_m_mod/llpi_phys_plat_sdram_b_ddrSynth/syncReadDataQ/dSyncReg1*"     TNM=TG_model_clk;
INST "m_sys_sys_vp_m_mod/llpi_phys_plat_sdram_b_ddrSynth/syncReadDataQ/sSyncReg1*"     TNM=TG_ram_clk;
INST "m_sys_sys_vp_m_mod/llpi_phys_plat_sdram_b_ddrSynth/syncReadDataQ/sNotFullReg*"   TNM=TG_ram_clk;

## Add these when DRAM_DEBUG awb option is enabled
#INST "m_sys_sys_vp_m_mod/llpi_phys_plat_sdram_b_ddrSynth/syncStatus/sDataSyncIn*"      TNM=TG_ram_clk;
#INST "m_sys_sys_vp_m_mod/llpi_phys_plat_sdram_b_ddrSynth/syncStatus/dD_OUT*"           TNM=TG_model_clk;
#INST "m_sys_sys_vp_m_mod/llpi_phys_plat_sdram_b_ddrSynth/syncStatus/sync/sToggleReg*"  TNM=TG_ram_clk;
#INST "m_sys_sys_vp_m_mod/llpi_phys_plat_sdram_b_ddrSynth/syncStatus/sync/dSyncReg1*"   TNM=TG_model_clk;

# Ignoring timing on statusReg is a bit drastic, but the value matters only
# when DRAM_DEBUG is enabled.
#INST "m_sys_sys_vp_m_mod/llpi_phys_plat_sdram_b_ddrSynth/statusReg*"                   TIG;
