##
## Started with Bluespec's configuration file, modified for LEAP.
##

######################################################################################################
# PIN ASSIGNMENTS
######################################################################################################

NET  "pcieWires_leds[7]"              LOC = AU39 | IOSTANDARD = LVCMOS18 ;
NET  "pcieWires_leds[6]"              LOC = AP42 | IOSTANDARD = LVCMOS18 ;
NET  "pcieWires_leds[5]"              LOC = AP41 | IOSTANDARD = LVCMOS18 ;
NET  "pcieWires_leds[4]"              LOC = AR35 | IOSTANDARD = LVCMOS18 ;
NET  "pcieWires_leds[3]"              LOC = AT37 | IOSTANDARD = LVCMOS18 ;
NET  "pcieWires_leds[2]"              LOC = AR37 | IOSTANDARD = LVCMOS18 ;
NET  "pcieWires_leds[1]"              LOC = AN39 | IOSTANDARD = LVCMOS18 ;
NET  "pcieWires_leds[0]"              LOC = AM39 | IOSTANDARD = LVCMOS18 ;

NET  "EN_pcieWires_pcie_reset_wire"   LOC = AV35 | IOSTANDARD = LVCMOS18 | PULLUP | NODELAY | TIG ;
NET  "EN_pcieWires_pcie_clk_p"        LOC = AB8 | IOSTANDARD = LVDS ;
NET  "EN_pcieWires_pcie_clk_n"        LOC = AB7 | IOSTANDARD = LVDS ;

NET  "pcieWires_pcie_exp_rxp_i[0]"    LOC = Y4  ;
NET  "pcieWires_pcie_exp_rxp_i[1]"    LOC = AA6 ;
NET  "pcieWires_pcie_exp_rxp_i[2]"    LOC = AB4 ;
NET  "pcieWires_pcie_exp_rxp_i[3]"    LOC = AC6 ;
NET  "pcieWires_pcie_exp_rxp_i[4]"    LOC = AD4 ;
NET  "pcieWires_pcie_exp_rxp_i[5]"    LOC = AE6 ;
NET  "pcieWires_pcie_exp_rxp_i[6]"    LOC = AF4 ;
NET  "pcieWires_pcie_exp_rxp_i[7]"    LOC = AG6 ;
                
NET  "pcieWires_pcie_exp_rxn_i[0]"    LOC = Y3  ;
NET  "pcieWires_pcie_exp_rxn_i[1]"    LOC = AA5 ;
NET  "pcieWires_pcie_exp_rxn_i[2]"    LOC = AB3 ;
NET  "pcieWires_pcie_exp_rxn_i[3]"    LOC = AC5 ;
NET  "pcieWires_pcie_exp_rxn_i[4]"    LOC = AD3 ;
NET  "pcieWires_pcie_exp_rxn_i[5]"    LOC = AE5 ;
NET  "pcieWires_pcie_exp_rxn_i[6]"    LOC = AF3 ;
NET  "pcieWires_pcie_exp_rxn_i[7]"    LOC = AG5 ;
              
NET  "pcieWires_pcie_exp_txp[0]"      LOC = W2  ;
NET  "pcieWires_pcie_exp_txp[1]"      LOC = AA2 ;
NET  "pcieWires_pcie_exp_txp[2]"      LOC = AC2 ;
NET  "pcieWires_pcie_exp_txp[3]"      LOC = AE2 ;
NET  "pcieWires_pcie_exp_txp[4]"      LOC = AG2 ;
NET  "pcieWires_pcie_exp_txp[5]"      LOC = AH4 ;
NET  "pcieWires_pcie_exp_txp[6]"      LOC = AJ2 ;
NET  "pcieWires_pcie_exp_txp[7]"      LOC = AK4 ;
              
NET  "pcieWires_pcie_exp_txn[0]"      LOC = W1  ;
NET  "pcieWires_pcie_exp_txn[1]"      LOC = AA1 ;
NET  "pcieWires_pcie_exp_txn[2]"      LOC = AC1 ;
NET  "pcieWires_pcie_exp_txn[3]"      LOC = AE1 ;
NET  "pcieWires_pcie_exp_txn[4]"      LOC = AG1 ;
NET  "pcieWires_pcie_exp_txn[5]"      LOC = AH3 ;
NET  "pcieWires_pcie_exp_txn[6]"      LOC = AJ1 ;
NET  "pcieWires_pcie_exp_txn[7]"      LOC = AK3 ;


######################################################################################################
# CLOCK CONSTRAINTS
######################################################################################################

NET  "EN_pcieWires_pcie_clk_p" TNM_NET = TG_pci_sys_clk;
TIMESPEC TS_pci_sys_clk = PERIOD TG_pci_sys_clk 100 MHz HIGH 50%;

NET  "*pcie_dev/ep_pcie_ep/ext_clk.pipe_clock_i/clk_125mhz" TNM_NET = TG_pci_clk_125;
TIMESPEC TS_pci_clk_125 = PERIOD TG_pci_clk_125 TS_pci_sys_clk*1.25 HIGH 50 % PRIORITY 1;

NET  "*pcie_dev/ep_pcie_ep/ext_clk.pipe_clock_i/clk_250mhz" TNM_NET = TG_pci_clk_250;
TIMESPEC TS_pci_clk_250 = PERIOD TG_pci_clk_250 TS_pci_sys_clk*2.5 HIGH 50 % PRIORITY 2;

NET  "*pcie_dev/ep_pcie_ep/ext_clk.pipe_clock_i/userclk1" TNM_NET = TG_pci_clk_user1;
TIMESPEC "TS_pci_clk_user1" = PERIOD "TG_pci_clk_user1" TS_pci_sys_clk*2.5 HIGH 50 % PRIORITY 2;

NET  "*pcie_dev/ep_pcie_ep/ext_clk.pipe_clock_i/userclk2" TNM_NET = TG_pci_clk_user2;
TIMESPEC "TS_pci_clk_user2" = PERIOD "TG_pci_clk_user2" TS_pci_sys_clk*2.5 HIGH 50 % PRIORITY 2;


NET "*pcie_dev/ep_pcie_ep/v7_pcie_v1_7_i/gt_top_i/pipe_wrapper_i/pipe_lane[0].pipe_rate.pipe_rate_i/*" TNM_NET = FFS "MC_PIPE";
NET "*pcie_dev/ep_pcie_ep/v7_pcie_v1_7_i/gt_top_i/pipe_wrapper_i/pipe_lane[1].pipe_rate.pipe_rate_i/*" TNM_NET = FFS "MC_PIPE";
NET "*pcie_dev/ep_pcie_ep/v7_pcie_v1_7_i/gt_top_i/pipe_wrapper_i/pipe_lane[2].pipe_rate.pipe_rate_i/*" TNM_NET = FFS "MC_PIPE";
NET "*pcie_dev/ep_pcie_ep/v7_pcie_v1_7_i/gt_top_i/pipe_wrapper_i/pipe_lane[3].pipe_rate.pipe_rate_i/*" TNM_NET = FFS "MC_PIPE";
NET "*pcie_dev/ep_pcie_ep/v7_pcie_v1_7_i/gt_top_i/pipe_wrapper_i/pipe_lane[4].pipe_rate.pipe_rate_i/*" TNM_NET = FFS "MC_PIPE";
NET "*pcie_dev/ep_pcie_ep/v7_pcie_v1_7_i/gt_top_i/pipe_wrapper_i/pipe_lane[5].pipe_rate.pipe_rate_i/*" TNM_NET = FFS "MC_PIPE";
NET "*pcie_dev/ep_pcie_ep/v7_pcie_v1_7_i/gt_top_i/pipe_wrapper_i/pipe_lane[6].pipe_rate.pipe_rate_i/*" TNM_NET = FFS "MC_PIPE";
NET "*pcie_dev/ep_pcie_ep/v7_pcie_v1_7_i/gt_top_i/pipe_wrapper_i/pipe_lane[7].pipe_rate.pipe_rate_i/*" TNM_NET = FFS "MC_PIPE";
NET "*pcie_dev/ep_pcie_ep/v7_pcie_v1_7_i/gt_top_i/pipe_wrapper_i/PIPE_RESET_N_inv"                     TNM_NET = "MC_PIPE";
TIMESPEC "TS_pipe_rate" = FROM "MC_PIPE" TS_pci_clk_user1*0.5;


PIN "*pcie_dev/ep_pcie_ep/v7_pcie_v1_7_i/pcie_top_i/pcie_7x_i/pcie_block_i.PLPHYLNKUPN" TIG;
PIN "*pcie_dev/ep_pcie_ep/v7_pcie_v1_7_i/pcie_top_i/pcie_7x_i/pcie_block_i.PLRECEIVEDHOTRST" TIG;

#PIN "*pcie_dev/ep_pcie_ep/ext_clk.pipe_clock_i/mmcm_i.RST" TIG ;
NET "*pcie_dev/ep_pcie_ep/v7_pcie_v1_7_i/gt_top_i/pipe_wrapper_i/user_resetdone*" TIG;
#NET "*pcie_dev/ep_pcie_ep/ext_clk.pipe_clock_i/pclk_sel" TIG;

#NET "*pcie_dev/ep_pcie_ep/v7_pcie_v1_7_i/sys_rst_n_int" TIG;
NET "*pcie_dev/ep_pcie_ep/v7_pcie_v1_7_i/gt_top_i/pipe_wrapper_i/pipe_reset.pipe_reset_i/cpllreset" TIG;


INST "m_llpi_phys_plat_pcie_dev/fifoRxData_elem*"       TNM=TG_pci_clk_125;
INST "m_llpi_phys_plat_pcie_dev/fifoRxData_block*"      TNM=TG_pci_clk_250;

INST "m_llpi_phys_plat_pcie_dev/fifoTxData_*elem*"      TNM=TG_pci_clk_250;
INST "m_llpi_phys_plat_pcie_dev/fifoTxData_*block*"     TNM=TG_pci_clk_125;

TIMESPEC TS_pci_clk_125_to_250=FROM TG_pci_clk_125 TO TG_pci_clk_250 TS_pci_clk_125 DATAPATHONLY;
TIMESPEC TS_pci_clk_250_to_125=FROM TG_pci_clk_250 TO TG_pci_clk_125 TS_pci_clk_125 DATAPATHONLY;

TIMESPEC TS_pci_clk_125_to_user2=FROM TG_pci_clk_125 TO TG_pci_clk_user2 TS_pci_clk_125 DATAPATHONLY;
TIMESPEC TS_pci_clk_user2_to_125=FROM TG_pci_clk_user2 TO TG_pci_clk_125 TS_pci_clk_125 DATAPATHONLY;


######################################################################################################
# LOC ASSIGNMENTS
######################################################################################################

# PCEe block placement
INST "*pcie_dev/ep_pcie_ep/v7_pcie_v1_7_i/pcie_top_i/pcie_7x_i/pcie_block_i"  LOC = PCIE_X1Y0;

# MMCM placment
INST "*pcie_dev/ep_pcie_ep/ext_clk.pipe_clock_i/mmcm_i"    LOC = MMCME2_ADV_X0Y2;

#
# Transceiver instance placement.  This constraint selects the
# transceivers to be used, which also dictates the pinout for the
# transmit and receive differential pairs.  Please refer to the
# Virtex-7 GT Transceiver User Guide (UG) for more information.
#

# PCIe Lane 0
INST "*pcie_dev/ep_pcie_ep/v7_pcie_v1_7_i/gt_top_i/pipe_wrapper_i/pipe_lane[0].gt_wrapper_i/gtx_channel.gtxe2_channel_i" LOC = GTXE2_CHANNEL_X1Y11;
# PCIe Lane 1
INST "*pcie_dev/ep_pcie_ep/v7_pcie_v1_7_i/gt_top_i/pipe_wrapper_i/pipe_lane[1].gt_wrapper_i/gtx_channel.gtxe2_channel_i" LOC = GTXE2_CHANNEL_X1Y10;
# PCIe Lane 2
INST "*pcie_dev/ep_pcie_ep/v7_pcie_v1_7_i/gt_top_i/pipe_wrapper_i/pipe_lane[2].gt_wrapper_i/gtx_channel.gtxe2_channel_i" LOC = GTXE2_CHANNEL_X1Y9;
# PCIe Lane 3
INST "*pcie_dev/ep_pcie_ep/v7_pcie_v1_7_i/gt_top_i/pipe_wrapper_i/pipe_lane[3].gt_wrapper_i/gtx_channel.gtxe2_channel_i" LOC = GTXE2_CHANNEL_X1Y8;
# PCIe Lane 4
INST "*pcie_dev/ep_pcie_ep/v7_pcie_v1_7_i/gt_top_i/pipe_wrapper_i/pipe_lane[4].gt_wrapper_i/gtx_channel.gtxe2_channel_i" LOC = GTXE2_CHANNEL_X1Y7;
# PCIe Lane 5
INST "*pcie_dev/ep_pcie_ep/v7_pcie_v1_7_i/gt_top_i/pipe_wrapper_i/pipe_lane[5].gt_wrapper_i/gtx_channel.gtxe2_channel_i" LOC = GTXE2_CHANNEL_X1Y6;
# PCIe Lane 6
INST "*pcie_dev/ep_pcie_ep/v7_pcie_v1_7_i/gt_top_i/pipe_wrapper_i/pipe_lane[6].gt_wrapper_i/gtx_channel.gtxe2_channel_i" LOC = GTXE2_CHANNEL_X1Y5;
# PCIe Lane 7
INST "*pcie_dev/ep_pcie_ep/v7_pcie_v1_7_i/gt_top_i/pipe_wrapper_i/pipe_lane[7].gt_wrapper_i/gtx_channel.gtxe2_channel_i" LOC = GTXE2_CHANNEL_X1Y4;


######################################################################################################
# AREA ASSIGNMENTS
######################################################################################################

#INST "m_llpi_phys_plat_pcie_dev/*"        AREA_GROUP = "AG_pcie_ep";
#AREA_GROUP "AG_pcie_ep"                   RANGE = SLICE_X132Y105:SLICE_X159Y144;
#AREA_GROUP "AG_pcie_ep"                   GROUP = CLOSED;

#INST "m_llpi_phys_plat_pcie_dev/bridge/*" AREA_GROUP = "AG_pcie_bridge";
#AREA_GROUP "AG_pcie_bridge"               RANGE = SLICE_X116Y34:SLICE_X159Y103;
#AREA_GROUP "AG_pcie_bridge"               GROUP = CLOSED;


######################################################################################################
# MISC CONSTRAINTS
######################################################################################################

INST "*OBUF*" SLEW = FAST;

