// RST_N

NET "RST_N" LOC="G27";

// CLOCK

NET "CLK" LOC = "J16" | IOSTANDARD = LVCMOS25;

// LEDS

NET "LED[0]" LOC="J27" | IOSTANDARD=LVCMOS25 | DRIVE=12 | SLEW=SLOW;
NET "LED[1]" LOC="J26" | IOSTANDARD=LVCMOS25 | DRIVE=12 | SLEW=SLOW;
NET "LED[2]" LOC="G25" | IOSTANDARD=LVCMOS25 | DRIVE=12 | SLEW=SLOW; 
NET "LED[3]" LOC="G26" | IOSTANDARD=LVCMOS25 | DRIVE=12 | SLEW=SLOW;
NET "LED[4]" LOC="H25" | IOSTANDARD=LVCMOS25 | DRIVE=12 | SLEW=SLOW;
NET "LED[5]" LOC="H24" | IOSTANDARD=LVCMOS25 | DRIVE=12 | SLEW=SLOW;
NET "LED[6]" LOC="F25" | IOSTANDARD=LVCMOS25 | DRIVE=12 | SLEW=SLOW; 
NET "LED[7]" LOC="F26" | IOSTANDARD=LVCMOS25 | DRIVE=12 | SLEW=SLOW;

// SWITCHES

NET "SWITCH[0]" LOC="K24" | IOSTANDARD=LVCMOS25;
NET "SWITCH[1]" LOC="L24" | IOSTANDARD=LVCMOS25;
NET "SWITCH[2]" LOC="L25" | IOSTANDARD=LVCMOS25;
NET "SWITCH[3]" LOC="L26" | IOSTANDARD=LVCMOS25;
NET "SWITCH[4]" LOC="J24" | IOSTANDARD=LVCMOS25;
NET "SWITCH[5]" LOC="J25" | IOSTANDARD=LVCMOS25;
NET "SWITCH[6]" LOC="M25" | IOSTANDARD=LVCMOS25;
NET "SWITCH[7]" LOC="M26" | IOSTANDARD=LVCMOS25;
