Net ddrWires_a[12] LOC=M24;
Net ddrWires_a[12] IOSTANDARD = SSTL2_II;
Net ddrWires_a[11] LOC=F30;
Net ddrWires_a[11] IOSTANDARD = SSTL2_II;
Net ddrWires_a[10] LOC=F28;
Net ddrWires_a[10] IOSTANDARD = SSTL2_II;
Net ddrWires_a[9] LOC=K24;
Net ddrWires_a[9] IOSTANDARD = SSTL2_II;
Net ddrWires_a[8] LOC=J24;
Net ddrWires_a[8] IOSTANDARD = SSTL2_II;
Net ddrWires_a[7] LOC=D26;
Net ddrWires_a[7] IOSTANDARD = SSTL2_II;
Net ddrWires_a[6] LOC=G26;
Net ddrWires_a[6] IOSTANDARD = SSTL2_II;
Net ddrWires_a[5] LOC=G25;
Net ddrWires_a[5] IOSTANDARD = SSTL2_II;
Net ddrWires_a[4] LOC=K30;
Net ddrWires_a[4] IOSTANDARD = SSTL2_II;
Net ddrWires_a[3] LOC=M29;
Net ddrWires_a[3] IOSTANDARD = SSTL2_II;
Net ddrWires_a[2] LOC=L26;
Net ddrWires_a[2] IOSTANDARD = SSTL2_II;
Net ddrWires_a[1] LOC=N25;
Net ddrWires_a[1] IOSTANDARD = SSTL2_II;
Net ddrWires_a[0] LOC=M25;
Net ddrWires_a[0] IOSTANDARD = SSTL2_II;
Net ddrWires_ba[1] LOC=K26;
Net ddrWires_ba[1] IOSTANDARD = SSTL2_II;
Net ddrWires_ba[0] LOC=M26;
Net ddrWires_ba[0] IOSTANDARD = SSTL2_II;
Net ddrWires_cas_n LOC=L27;
Net ddrWires_cas_n IOSTANDARD = SSTL2_II;
Net ddrWires_ce LOC=R26;
Net ddrWires_ce IOSTANDARD = SSTL2_II;
Net ddrWires_cs_n LOC=R24;
Net ddrWires_cs_n IOSTANDARD = SSTL2_II;
Net ddrWires_ras_n LOC=N29;
Net ddrWires_ras_n IOSTANDARD = SSTL2_II;
Net ddrWires_we_n LOC=N26;
Net ddrWires_we_n IOSTANDARD = SSTL2_II;
Net ddrWires_dm[7] LOC=W25;
Net ddrWires_dm[7] IOSTANDARD = SSTL2_II;
Net ddrWires_dm[6] LOC=W26;
Net ddrWires_dm[6] IOSTANDARD = SSTL2_II;
Net ddrWires_dm[5] LOC=W27;
Net ddrWires_dm[5] IOSTANDARD = SSTL2_II;
Net ddrWires_dm[4] LOC=W28;
Net ddrWires_dm[4] IOSTANDARD = SSTL2_II;
Net ddrWires_dm[3] LOC=T22;
Net ddrWires_dm[3] IOSTANDARD = SSTL2_II;
Net ddrWires_dm[2] LOC=W29;
Net ddrWires_dm[2] IOSTANDARD = SSTL2_II;
Net ddrWires_dm[1] LOC=V29;
Net ddrWires_dm[1] IOSTANDARD = SSTL2_II;
Net ddrWires_dm[0] LOC=U26;
Net ddrWires_dm[0] IOSTANDARD = SSTL2_II;
Net "ddrWires_dqs[7]" LOC=AH26;
Net "ddrWires_dqs[7]" IOSTANDARD = SSTL2_II;
Net ddrWires_dqs[6] LOC=AC25;
Net ddrWires_dqs[6] IOSTANDARD = SSTL2_II;
Net ddrWires_dqs[5] LOC=AA25;
Net ddrWires_dqs[5] IOSTANDARD = SSTL2_II;
Net ddrWires_dqs[4] LOC=V23;
Net ddrWires_dqs[4] IOSTANDARD = SSTL2_II;
Net ddrWires_dqs[3] LOC=P29;
Net ddrWires_dqs[3] IOSTANDARD = SSTL2_II;
Net ddrWires_dqs[2] LOC=M30;
Net ddrWires_dqs[2] IOSTANDARD = SSTL2_II;
Net ddrWires_dqs[1] LOC=J29;
Net ddrWires_dqs[1] IOSTANDARD = SSTL2_II;
Net ddrWires_dqs[0] LOC=E30;
Net ddrWires_dqs[0] IOSTANDARD = SSTL2_II;
Net "ddrWires_dq[63]" LOC=AH29;
Net "ddrWires_dq[63]" IOSTANDARD = SSTL2_II;
Net "ddrWires_dq[62]" LOC=AH27;
Net ddrWires_dq[62] IOSTANDARD = SSTL2_II;
Net ddrWires_dq[61] LOC=AG28;
Net ddrWires_dq[61] IOSTANDARD = SSTL2_II;
Net ddrWires_dq[60] LOC=AD25;
Net ddrWires_dq[60] IOSTANDARD = SSTL2_II;
Net ddrWires_dq[59] LOC=AD26;
Net ddrWires_dq[59] IOSTANDARD = SSTL2_II;
Net ddrWires_dq[58] LOC=AG29;
Net ddrWires_dq[58] IOSTANDARD = SSTL2_II;
Net ddrWires_dq[57] LOC=AG30;
Net ddrWires_dq[57] IOSTANDARD = SSTL2_II;
Net ddrWires_dq[56] LOC=AF25;
Net ddrWires_dq[56] IOSTANDARD = SSTL2_II;
Net ddrWires_dq[55] LOC=AF29;
Net ddrWires_dq[55] IOSTANDARD = SSTL2_II;
Net ddrWires_dq[54] LOC=AF30;
Net ddrWires_dq[54] IOSTANDARD = SSTL2_II;
Net ddrWires_dq[53] LOC=AD27;
Net ddrWires_dq[53] IOSTANDARD = SSTL2_II;
Net ddrWires_dq[52] LOC=AD28;
Net ddrWires_dq[52] IOSTANDARD = SSTL2_II;
Net ddrWires_dq[51] LOC=AA23;
Net ddrWires_dq[51] IOSTANDARD = SSTL2_II;
Net ddrWires_dq[50] LOC=AA24;
Net ddrWires_dq[50] IOSTANDARD = SSTL2_II;
Net ddrWires_dq[49] LOC=AE29;
Net ddrWires_dq[49] IOSTANDARD = SSTL2_II;
Net ddrWires_dq[48] LOC=AB25;
Net ddrWires_dq[48] IOSTANDARD = SSTL2_II;
Net ddrWires_dq[47] LOC=AC29;
Net ddrWires_dq[47] IOSTANDARD = SSTL2_II;
Net ddrWires_dq[46] LOC=AB27;
Net ddrWires_dq[46] IOSTANDARD = SSTL2_II;
Net ddrWires_dq[45] LOC=AB28;
Net ddrWires_dq[45] IOSTANDARD = SSTL2_II;
Net ddrWires_dq[44] LOC=W23;
Net ddrWires_dq[44] IOSTANDARD = SSTL2_II;
Net ddrWires_dq[43] LOC=W24;
Net ddrWires_dq[43] IOSTANDARD = SSTL2_II;
Net ddrWires_dq[42] LOC=AA27;
Net ddrWires_dq[42] IOSTANDARD = SSTL2_II;
Net ddrWires_dq[41] LOC=AA28;
Net ddrWires_dq[41] IOSTANDARD = SSTL2_II;
Net ddrWires_dq[40] LOC=Y26;
Net ddrWires_dq[40] IOSTANDARD = SSTL2_II;
Net ddrWires_dq[39] LOC=AA29;
Net ddrWires_dq[39] IOSTANDARD = SSTL2_II;
Net ddrWires_dq[38] LOC=Y29;
Net ddrWires_dq[38] IOSTANDARD = SSTL2_II;
Net ddrWires_dq[37] LOC=V25;
Net ddrWires_dq[37] IOSTANDARD = SSTL2_II;
Net ddrWires_dq[36] LOC=V26;
Net ddrWires_dq[36] IOSTANDARD = SSTL2_II;
Net ddrWires_dq[35] LOC=U23;
Net ddrWires_dq[35] IOSTANDARD = SSTL2_II;
Net ddrWires_dq[34] LOC=U24;
Net ddrWires_dq[34] IOSTANDARD = SSTL2_II;
Net ddrWires_dq[33] LOC=Y30;
Net ddrWires_dq[33] IOSTANDARD = SSTL2_II;
Net ddrWires_dq[32] LOC=V27;
Net ddrWires_dq[32] IOSTANDARD = SSTL2_II;
Net ddrWires_dq[31] LOC=N28;
Net ddrWires_dq[31] IOSTANDARD = SSTL2_II;
Net ddrWires_dq[30] LOC=N27;
Net ddrWires_dq[30] IOSTANDARD = SSTL2_II;
Net ddrWires_dq[29] LOC=P24;
Net ddrWires_dq[29] IOSTANDARD = SSTL2_II;
Net ddrWires_dq[28] LOC=P23;
Net ddrWires_dq[28] IOSTANDARD = SSTL2_II;
Net ddrWires_dq[27] LOC=P30;
Net ddrWires_dq[27] IOSTANDARD = SSTL2_II;
Net ddrWires_dq[26] LOC=M28;
Net ddrWires_dq[26] IOSTANDARD = SSTL2_II;
Net ddrWires_dq[25] LOC=M27;
Net ddrWires_dq[25] IOSTANDARD = SSTL2_II;
Net ddrWires_dq[24] LOC=R22;
Net ddrWires_dq[24] IOSTANDARD = SSTL2_II;
Net ddrWires_dq[23] LOC=K28;
Net ddrWires_dq[23] IOSTANDARD = SSTL2_II;
Net ddrWires_dq[22] LOC=K27;
Net ddrWires_dq[22] IOSTANDARD = SSTL2_II;
Net ddrWires_dq[21] LOC=N24;
Net ddrWires_dq[21] IOSTANDARD = SSTL2_II;
Net ddrWires_dq[20] LOC=N23;
Net ddrWires_dq[20] IOSTANDARD = SSTL2_II;
Net ddrWires_dq[19] LOC=L29;
Net ddrWires_dq[19] IOSTANDARD = SSTL2_II;
Net ddrWires_dq[18] LOC=K29;
Net ddrWires_dq[18] IOSTANDARD = SSTL2_II;
Net ddrWires_dq[17] LOC=J28;
Net ddrWires_dq[17] IOSTANDARD = SSTL2_II;
Net ddrWires_dq[16] LOC=J27;
Net ddrWires_dq[16] IOSTANDARD = SSTL2_II;
Net ddrWires_dq[15] LOC=H28;
Net ddrWires_dq[15] IOSTANDARD = SSTL2_II;
Net ddrWires_dq[14] LOC=H27;
Net ddrWires_dq[14] IOSTANDARD = SSTL2_II;
Net ddrWires_dq[13] LOC=L24;
Net ddrWires_dq[13] IOSTANDARD = SSTL2_II;
Net ddrWires_dq[12] LOC=L23;
Net ddrWires_dq[12] IOSTANDARD = SSTL2_II;
Net ddrWires_dq[11] LOC=G30;
Net ddrWires_dq[11] IOSTANDARD = SSTL2_II;
Net ddrWires_dq[10] LOC=G28;
Net ddrWires_dq[10] IOSTANDARD = SSTL2_II;
Net ddrWires_dq[9] LOC=G27;
Net ddrWires_dq[9] IOSTANDARD = SSTL2_II;
Net ddrWires_dq[8] LOC=J26;
Net ddrWires_dq[8] IOSTANDARD = SSTL2_II;
Net ddrWires_dq[7] LOC=E28;
Net ddrWires_dq[7] IOSTANDARD = SSTL2_II;
Net ddrWires_dq[6] LOC=E27;
Net ddrWires_dq[6] IOSTANDARD = SSTL2_II;
Net ddrWires_dq[5] LOC=H26;
Net ddrWires_dq[5] IOSTANDARD = SSTL2_II;
Net ddrWires_dq[4] LOC=H25;
Net ddrWires_dq[4] IOSTANDARD = SSTL2_II;
Net ddrWires_dq[3] LOC=D30;
Net ddrWires_dq[3] IOSTANDARD = SSTL2_II;
Net ddrWires_dq[2] LOC=D29;
Net ddrWires_dq[2] IOSTANDARD = SSTL2_II;
Net ddrWires_dq[1] LOC=D28;
Net ddrWires_dq[1] IOSTANDARD = SSTL2_II;
Net ddrWires_dq[0] LOC=C27;
Net ddrWires_dq[0] IOSTANDARD = SSTL2_II;
Net ddrWires_ck_p[0] LOC=AC27;
Net ddrWires_ck_p[0] IOSTANDARD = SSTL2_II;
Net ddrWires_ck_p[1] LOC=AD29;
Net ddrWires_ck_p[1] IOSTANDARD = SSTL2_II;
Net ddrWires_ck_p[2] LOC=AB23;
Net ddrWires_ck_p[2] IOSTANDARD = SSTL2_II;
Net ddrWires_ck_n[0] LOC=AC28;
Net ddrWires_ck_n[0] IOSTANDARD = SSTL2_II;
Net ddrWires_ck_n[1] LOC=AD30;
Net ddrWires_ck_n[1] IOSTANDARD = SSTL2_II;
Net ddrWires_ck_n[2] LOC=AB24;
Net ddrWires_ck_n[2] IOSTANDARD = SSTL2_II;

# DRAM specific constraints

Net */DDR_SDRAM/*rd_data_rise_in* MAXDELAY = 1000 ps;
Net */DDR_SDRAM/*rd_data_fall_in* MAXDELAY = 1000 ps;


