// RST_N

NET "RST_N" LOC="AD10";

// CLOCK

NET "CLK" LOC = "AJ15" | IOSTANDARD = LVCMOS25;

// LEDS

NET "LED[0]" LOC="AC4" | IOSTANDARD=LVTTL | DRIVE=12 | SLEW=SLOW;
NET "LED[1]" LOC="AC3" | IOSTANDARD=LVTTL | DRIVE=12 | SLEW=SLOW;
NET "LED[2]" LOC="AA6" | IOSTANDARD=LVTTL | DRIVE=12 | SLEW=SLOW; 
NET "LED[3]" LOC="AA5" | IOSTANDARD=LVTTL | DRIVE=12 | SLEW=SLOW;

// SWITCHES

NET "SWITCH[0]" LOC="AC11" | IOSTANDARD=LVCMOS25;
NET "SWITCH[1]" LOC="AD11" | IOSTANDARD=LVCMOS25;
NET "SWITCH[2]" LOC="AF8"  | IOSTANDARD=LVCMOS25;
NET "SWITCH[3]" LOC="AF9"  | IOSTANDARD=LVCMOS25;

// PUSHBUTTONS

NET "BUTTON_LEFT" LOC="AH1"   | IOSTANDARD=LVTTL;
NET "BUTTON_RIGHT" LOC="AH2"  | IOSTANDARD=LVTTL;
NET "BUTTON_UP" LOC="AH4"     | IOSTANDARD=LVTTL;
NET "BUTTON_DOWN" LOC="AG3"   | IOSTANDARD=LVTTL;
NET "BUTTON_CENTER" LOC="AG5" | IOSTANDARD=LVTTL;
