############################################################################
# Ignore Timing Violations at Sync FIFOs                                   #
############################################################################

## Un-comment these lines if you see timing violations at Sync FIFOs that
## you're sure wouldn't cause any problems

# SyncFIFO: syncReadDataQ

#NET "m_vp_llpi_phys_plat_ddr2_sdram_device_syncReadDataQ_dD_OUT[*]"     TIG;
NET "m_vp_llpi_phys_plat_ddr2_sdram_device_syncReadDataQ/dGDeqPtr[*]"   TIG;
NET "m_vp_llpi_phys_plat_ddr2_sdram_device_syncReadDataQ/dGDeqPtr1[*]"  TIG;
NET "m_vp_llpi_phys_plat_ddr2_sdram_device_syncReadDataQ/sGEnqPtr[*]"   TIG;
NET "m_vp_llpi_phys_plat_ddr2_sdram_device_syncReadDataQ/sGEnqPtr1[*]"  TIG;


# SyncFIFO: syncRequestQ

#NET "m_vp_llpi_phys_plat_ddr2_sdram_device_syncRequestQ_dD_OUT[*]"      TIG;
NET "m_vp_llpi_phys_plat_ddr2_sdram_device_syncRequestQ/dGDeqPtr[*]"    TIG;
NET "m_vp_llpi_phys_plat_ddr2_sdram_device_syncRequestQ/dGDeqPtr1[*]"   TIG;
NET "m_vp_llpi_phys_plat_ddr2_sdram_device_syncRequestQ/sGEnqPtr[*]"    TIG;
NET "m_vp_llpi_phys_plat_ddr2_sdram_device_syncRequestQ/sGEnqPtr1[*]"   TIG;

# SyncFIFOLevel: syncWriteDataQ

#NET "m_vp_llpi_phys_plat_ddr2_sdram_device_syncWriteDataQ_dD_OUT[*]"    TIG;
NET "m_vp_llpi_phys_plat_ddr2_sdram_device_syncWriteDataQ/dGDeqPtr[*]"  TIG;
NET "m_vp_llpi_phys_plat_ddr2_sdram_device_syncWriteDataQ/dGDeqPtr1[*]" TIG;
NET "m_vp_llpi_phys_plat_ddr2_sdram_device_syncWriteDataQ/sGEnqPtr[*]"  TIG;
NET "m_vp_llpi_phys_plat_ddr2_sdram_device_syncWriteDataQ/sGEnqPtr1[*]" TIG;

# SyncFIFOLevel: syncResetQ

NET "m_vp_llpi_phys_plat_ddr2_sdram_device_syncResetQ/dGDeqPtr[*]"  TIG;
NET "m_vp_llpi_phys_plat_ddr2_sdram_device_syncResetQ/dGDeqPtr1[*]" TIG;
NET "m_vp_llpi_phys_plat_ddr2_sdram_device_syncResetQ/sGEnqPtr[*]"  TIG;

NET "m_vp_llpi_phys_plat_ddr2_sdram_device_syncResetQ/sGEnqPtr1[*]" TIG;
