##################################################################################
## (c) Copyright 2008 Xilinx, Inc. All rights reserved.
##
## This file contains confidential and proprietary information
## of Xilinx, Inc. and is protected under U.S. and
## international copyright and other intellectual property
## laws.
##
## DISCLAIMER
## This disclaimer is not a license and does not grant any
## rights to the materials distributed herewith. Except as
## otherwise provided in a valid license issued to you by
## Xilinx, and to the maximum extent permitted by applicable
## law: (1) THESE MATERIALS ARE MADE AVAILABLE "AS IS" AND
## WITH ALL FAULTS, AND XILINX HEREBY DISCLAIMS ALL WARRANTIES
## AND CONDITIONS, EXPRESS, IMPLIED, OR STATUTORY, INCLUDING
## BUT NOT LIMITED TO WARRANTIES OF MERCHANTABILITY, NON-
## INFRINGEMENT, OR FITNESS FOR ANY PARTICULAR PURPOSE; and
## (2) Xilinx shall not be liable (whether in contract or tort,
## including negligence, or under any other theory of
## liability) for any loss or damage of any kind or nature
## related to, arising under or in connection with these
## materials, including for any direct, or any indirect,
## special, incidental, or consequential loss or damage
## (including loss of data, profits, goodwill, or any type of
## loss or damage suffered as a result of any action brought
## by a third party) even if such damage or loss was
## reasonably foreseeable or Xilinx had been advised of the
## possibility of the same.
##
## CRITICAL APPLICATIONS
## Xilinx products are not designed or intended to be fail-
## safe, or for use in any application requiring fail-safe
## performance, such as life-support or safety devices or
## systems, Class III medical devices, nuclear facilities,
## applications related to the deployment of airbags, or any
## other applications that could lead to death, personal
## injury, or severe property or environmental damage
## (individually and collectively, "Critical
## Applications"). Customer assumes the sole risk and
## liability of any use of Xilinx products in Critical
## Applications, subject only to applicable laws and
## regulations governing limitations on product liability.
##
## THIS COPYRIGHT NOTICE AND DISCLAIMER MUST BE RETAINED AS
## PART OF THIS FILE AT ALL TIMES.
## 
## 
#################################################################################
## UCF generated for xc6vlx240t-ff1156-1 device
# 125.0MHz GTX Reference clock constraint 
NET "*/GTXQ0_left_i" TNM_NET = GT_REFCLK; 
TIMESPEC TS_GTXQ0_LEFT_I = PERIOD "GT_REFCLK" 125.0 MHz HIGH 50%;

# User Clock Constraint: Value is selected based on the line rate (3.125 Gbps) and lane width (2-Byte)
NET "m_llpi_phys_plat_aurora_device_ug_device/USER_CLK" TNM_NET = USER_CLK;
#NET "*/USER_CLK" TNM_NET = USER_CLK;
TIMESPEC TS_USER_CLK_I = PERIOD "USER_CLK" 156.25 MHz HIGH 50%;
#TIMESPEC TS_USER_CLK_I = PERIOD "USER_CLK" 6.4 ns HIGH 50%;

#NET auroraWires_aurora_clk_n_AURORA_GTXQ_IN LOC = AK5;
#NET auroraWires_aurora_clk_p_AURORA_GTXQ_IN LOC = AK6;

NET auroraWires_aurora_clk_n_AURORA_GTXQ_IN LOC = H5;
NET auroraWires_aurora_clk_p_AURORA_GTXQ_IN LOC = H6;

NET auroraWires_reset_asserted LOC = AD21;
NET auroraWires_device_reset_asserte LOC = AE21;

#NET GTXQ0_P  LOC=AK6; 
#NET GTXQ0_N  LOC=AK5; 
################################ Diff. INIT Clock Constraint ##########################
#NET INIT_CLK_P LOC=J9;
#NET INIT_CLK_N LOC=H9; 

# 200 MHz board Clock Constraint  
#NET "m_llpi_phys_plat_aurora_device_ug_device/INIT_CLK" TNM_NET = INIT_CLK;
#TIMESPEC TS_INIT_CLK = PERIOD "INIT_CLK" 5 ns HIGH 50%;

###### No cross clock domain analysis. Domains are not related ############## 
TIMESPEC "TS_TIG1" = FROM "INIT_CLK" TO "USER_CLK" TIG; 

################################ Resets Buttons #################################
#NET RESET           LOC=E31;   #BUTTON
#NET RESET           PULLUP;
#NET GT_RESET_IN     LOC=F31;   #BUTTON

################################ Errors Indicators ##############################
#NET HARD_ERR      LOC=M15;   #LED
#NET SOFT_ERR      LOC=M16;   #LED

################################ Channel and Lane up Indicators #################
#This board supports a maximum of 12 lanes
#NET CHANNEL_UP      LOC=G15;   #LED
#NET LANE_UP         LOC=B15;   #LED
############################### GT Location ###################################
#INST aurora_module_i/gtx_wrapper_i/GTXE1_INST/gtxe1_i LOC=GTXE1_X0Y0;
INST */aurora_module_i/gtx_wrapper_i/GTXE1_INST/gtxe1_i LOC=GTXE1_X0Y18;
