############################################################################
# Ignore Timing Violations at Sync FIFOs                                   #
############################################################################

## Un-comment these lines if you see timing violations at Sync FIFOs that
## you're sure wouldn't cause any problems

# SyncFIFO: receivefifo

#NET "m_vp_llpi_phys_plat_serial_device_receivefifo_dD_OUT[*]"     TIG;
NET "m_vp_llpi_phys_plat_serial_device_receivefifo/dGDeqPtr[*]"   TIG;
NET "m_vp_llpi_phys_plat_serial_device_receivefifo/dGDeqPtr1[*]"  TIG;
NET "m_vp_llpi_phys_plat_serial_device_receivefifo/sGEnqPtr[*]"   TIG;
NET "m_vp_llpi_phys_plat_serial_device_receivefifo/sGEnqPtr1[*]"  TIG;


# SyncFIFO: sendfifo

NET "m_vp_llpi_phys_plat_serial_device_sendfifo_dD_OUT[*]"      TIG;
NET "m_vp_llpi_phys_plat_serial_device_sendfifo/dGDeqPtr[*]"    TIG;
NET "m_vp_llpi_phys_plat_serial_device_sendfifo/dGDeqPtr1[*]"   TIG;
NET "m_vp_llpi_phys_plat_serial_device_sendfifo/sGEnqPtr[*]"    TIG;
NET "m_vp_llpi_phys_plat_serial_device_sendfifo/sGEnqPtr1[*]"   TIG;
