// SERIAL LINES

NET serialWires_serial_rx_serial_rx LOC=AJ8;
NET serialWires_serial_rx_serial_rx IOSTANDARD = LVCMOS25;
NET serialWires_serial_tx LOC=AE7;
NET serialWires_serial_tx IOSTANDARD = LVCMOS25;
NET serialWires_serial_tx SLEW = SLOW;
NET serialWires_serial_tx DRIVE = 12;
NET serialWires_serial_cts_serial_cts LOC=AK8;
NET serialWires_serial_cts_serial_cts IOSTANDARD = LVCMOS25;
NET serialWires_serial_cts_serial_cts SLEW = SLOW;
NET serialWires_serial_cts_serial_cts DRIVE = 8;
NET serialWires_serial_dtr LOC=AD10;
NET serialWires_serial_dtr IOSTANDARD = LVCMOS25;
NET serialWires_serial_rts LOC=AE8;
NET serialWires_serial_rts IOSTANDARD = LVCMOS25;