#!/usr/bin/make --no-keep-going -f

##
## The real work is done by SCons.  This file just defines the standard targets
## and invokes SCons.
##

ARGS=
ifdef DEBUG
    ARGS+= DEBUG=1
endif
ifdef OPT
    ARGS+= OPT=1
endif

.PHONY: all
all:
	scons $(ARGS)

.PHONY: exe
exe:
	scons exe $(ARGS)

.PHONY: vexe
vexe:
	scons vexe $(ARGS)

.PHONY: bit
bit:
	scons bit $(ARGS)

.PHONY: clean
clean:
	scons -c $(ARGS)
