##################################################################################
## (c) Copyright 2008 Xilinx, Inc. All rights reserved.
##
## This file contains confidential and proprietary information
## of Xilinx, Inc. and is protected under U.S. and
## international copyright and other intellectual property
## laws.
##
## DISCLAIMER
## This disclaimer is not a license and does not grant any
## rights to the materials distributed herewith. Except as
## otherwise provided in a valid license issued to you by
## Xilinx, and to the maximum extent permitted by applicable
## law: (1) THESE MATERIALS ARE MADE AVAILABLE "AS IS" AND
## WITH ALL FAULTS, AND XILINX HEREBY DISCLAIMS ALL WARRANTIES
## AND CONDITIONS, EXPRESS, IMPLIED, OR STATUTORY, INCLUDING
## BUT NOT LIMITED TO WARRANTIES OF MERCHANTABILITY, NON-
## INFRINGEMENT, OR FITNESS FOR ANY PARTICULAR PURPOSE; and
## (2) Xilinx shall not be liable (whether in contract or tort,
## including negligence, or under any other theory of
## liability) for any loss or damage of any kind or nature
## related to, arising under or in connection with these
## materials, including for any direct, or any indirect,
## special, incidental, or consequential loss or damage
## (including loss of data, profits, goodwill, or any type of
## loss or damage suffered as a result of any action brought
## by a third party) even if such damage or loss was
## reasonably foreseeable or Xilinx had been advised of the
## possibility of the same.
##
## CRITICAL APPLICATIONS
## Xilinx products are not designed or intended to be fail-
## safe, or for use in any application requiring fail-safe
## performance, such as life-support or safety devices or
## systems, Class III medical devices, nuclear facilities,
## applications related to the deployment of airbags, or any
## other applications that could lead to death, personal
## injury, or severe property or environmental damage
## (individually and collectively, "Critical
## Applications"). Customer assumes the sole risk and
## liability of any use of Xilinx products in Critical
## Applications, subject only to applicable laws and
## regulations governing limitations on product liability.
##
## THIS COPYRIGHT NOTICE AND DISCLAIMER MUST BE RETAINED AS
## PART OF THIS FILE AT ALL TIMES.
## 
## 
#################################################################################
## UCF generated for xc6vlx240t-ff1156-1 device
# 125.0MHz GTX Reference clock constraint 
NET "m_llpi_phys_plat_aurora_device/smaClock_O" TNM_NET = GT_REFCLK_SMA; 
NET "m_llpi_phys_plat_aurora_device/hpcClock_O" TNM_NET = GT_REFCLK_HPC; 

TIMESPEC TS_SMA_GTXQ0_LEFT_I = PERIOD "GT_REFCLK_SMA" 125.0 MHz HIGH 50%;
TIMESPEC TS_HPC_GTXQ0_LEFT_I = PERIOD "GT_REFCLK_HPC" 156.25 MHz HIGH 50%; # the XM104 has a different clock.

NET "m_llpi_phys_plat_aurora_device/ug_device_0/user_clk_i" TNM_NET = USER_CLK_SMA;
NET "m_llpi_phys_plat_aurora_device/ug_device_1/user_clk_i" TNM_NET = USER_CLK_HPC1;


TIMESPEC TS_USER_CLK_SMA_I = PERIOD "USER_CLK_SMA" 62.5 MHz HIGH 50%;
TIMESPEC TS_USER_CLK_HPC1_I = PERIOD "USER_CLK_HPC1" 156.25 MHz HIGH 50%;

NET "m_llpi_phys_plat_aurora_device/ug_device_0/sync_clk_i" TNM_NET = SYNC_CLK_SMA;
NET "m_llpi_phys_plat_aurora_device/ug_device_1/sync_clk_i" TNM_NET = SYNC_CLK_HPC1;
 
TIMESPEC TS_SYNC_CLK_SMA_I = PERIOD "SYNC_CLK_SMA" 125 MHz HIGH 50%;
TIMESPEC TS_SYNC_CLK_HPC1_I = PERIOD "SYNC_CLK_HPC1" 312.5 MHz HIGH 50%;

# Constraints for RX Recovered clocks

NET "m_llpi_phys_plat_aurora_device/ug_device_0/aurora_64b66b_v7_3_block_i/aurora_64b66b_v7_3_wrapper_i/rxrecclk_to_pll_i" TNM_NET = "rxrecclk_32_SMA";
TIMESPEC "TS_rxrecclk_32_SMA" = PERIOD "rxrecclk_32_SMA" 125 MHz HIGH 50%;

NET "m_llpi_phys_plat_aurora_device/ug_device_1/aurora_64b66b_v7_3_block_i/aurora_64b66b_v7_3_wrapper_i/rxrecclk_to_pll_i" TNM_NET = "rxrecclk_32_HPC1";
TIMESPEC "TS_rxrecclk_32_HPC1" = PERIOD "rxrecclk_32_HPC1" 312.5 MHz HIGH 50%;


NET "m_llpi_phys_plat_aurora_device/ug_device_0/aurora_64b66b_v7_3_block_i/aurora_64b66b_v7_3_wrapper_i/enable_32_i" TNM_NET = FFS "enable_32_SMA";
TIMESPEC "TS_enable_32_multiclk_SMA" = FROM "enable_32_SMA" to "enable_32_SMA" TS_rxrecclk_32_SMA/2;

NET "m_llpi_phys_plat_aurora_device/ug_device_1/aurora_64b66b_v7_3_block_i/aurora_64b66b_v7_3_wrapper_i/enable_32_i" TNM_NET = FFS "enable_32_HPC1";
TIMESPEC "TS_enable_32_multiclk_HPC1" = FROM "enable_32_HPC1" to "enable_32_HPC1" TS_rxrecclk_32_HPC1/2;


NET  auroraWires_sma_clk_n_put LOC = AH7;
NET  auroraWires_sma_clk_p_put LOC = AH8;

#HPC1 -- GBTCLK1 on XM104
NET  auroraWires_hpc_clk_n_put LOC = E9;
NET  auroraWires_hpc_clk_p_put LOC = E10;


# 200 MHz board Clock Constraint  
NET "m_llpi_phys_plat_aurora_device/ug_device_0/INIT_CLK" TNM_NET = INIT_CLK;
#TIMESPEC TS_INIT_CLK = PERIOD "INIT_CLK_SMA" 5 ns HIGH 50%;

###### No cross clock domain analysis. Domains are not related ############## 
TIMESPEC "TS_TIG0" = FROM "INIT_CLK" TO "USER_CLK_SMA" TIG; 
TIMESPEC "TS_TIG1" = FROM "INIT_CLK" TO "USER_CLK_HPC1" TIG; 
TIMESPEC "TS_TIG2" = FROM "INIT_CLK" TO "USER_CLK_HPC2" TIG; 
TIMESPEC "TS_TIG3" = FROM "INIT_CLK" TO "USER_CLK_HPC3" TIG; 
TIMESPEC "TS_TIG4" = FROM "INIT_CLK" TO "USER_CLK_HPC4" TIG; 
#TIMESPEC "TS_TIG5" = FROM "INIT_CLK" TO "USER_CLK_HPC5" TIG; 
#TIMESPEC "TS_TIG6" = FROM "INIT_CLK" TO "USER_CLK_HPC6" TIG; 
#TIMESPEC "TS_TIG7" = FROM "INIT_CLK" TO "USER_CLK_HPC7" TIG; 
#TIMESPEC "TS_TIG8" = FROM "INIT_CLK" TO "USER_CLK_HPC8" TIG; 

############################### GT Location ###################################
# HPC1
# DP0 is X1Y24 (XM104 - SMA)
# DP1 is X1Y25 (XM104 - SMA)
# DP2 is X1Y26 (XM104 - SATA)
# DP3 is X1Y27 (XM104 - SATA)
# DP4 is X1Y20 (XM104 - CX4)
# DP5 is X1Y21 (XM104 - CX4)
# DP6 is X1Y22 (XM104 - CX4)
# DP7 is X1Y23 (XM104 - CX4)


NET "m_llpi_phys_plat_aurora_device/ug_device_0/aurora_64b66b_v7_3_block_i/aurora_64b66b_v7_3_wrapper_i/cbcc_gtx0_i/fifo_reset_i" TIG; 
NET "m_llpi_phys_plat_aurora_device/ug_device_0/aurora_64b66b_v7_3_block_i/aurora_64b66b_v7_3_wrapper_i/cbcc_gtx0_lane1_i/fifo_reset_i" TIG; 

NET "m_llpi_phys_plat_aurora_device/ug_device_1/aurora_64b66b_v7_3_block_i/aurora_64b66b_v7_3_wrapper_i/cbcc_gtx0_i/fifo_reset_i" TIG; 
NET "m_llpi_phys_plat_aurora_device/ug_device_1/aurora_64b66b_v7_3_block_i/aurora_64b66b_v7_3_wrapper_i/cbcc_gtx0_lane1_i/fifo_reset_i" TIG; 

INST m_llpi_phys_plat_aurora_device/ug_device_0/aurora_64b66b_v7_3_block_i/aurora_64b66b_v7_3_wrapper_i/aurora_64b66b_v7_3_multi_gt_i/AURORA_64B66B_V7_3_GTX_INST/gtxe2_i LOC=GTXE2_CHANNEL_X1Y0; # on board sma cables
INST m_llpi_phys_plat_aurora_device/ug_device_0/aurora_64b66b_v7_3_block_i/aurora_64b66b_v7_3_wrapper_i/aurora_64b66b_v7_3_multi_gt_i/AURORA_64B66B_V7_3_GTX_INST_LANE1/gtxe2_i LOC=GTXE2_CHANNEL_X1Y1; # on board sma cables
#INST m_llpi_phys_plat_aurora_device/ug_device_0/aurora_module_i/gt_wrapper_i/aurora_8b10b_v8_3_multi_gt_i/gtxe2_common_i LOC=GTXE2_COMMON_X1Y0;

INST m_llpi_phys_plat_aurora_device/ug_device_1/aurora_64b66b_v7_3_block_i/aurora_64b66b_v7_3_wrapper_i/aurora_64b66b_v7_3_multi_gt_i/AURORA_64B66B_V7_3_GTX_INST/gtxe2_i LOC=GTXE2_CHANNEL_X1Y18; # xm104 sata cables
INST m_llpi_phys_plat_aurora_device/ug_device_1/aurora_64b66b_v7_3_block_i/aurora_64b66b_v7_3_wrapper_i/aurora_64b66b_v7_3_multi_gt_i/AURORA_64B66B_V7_3_GTX_INST_LANE1/gtxe2_i LOC=GTXE2_CHANNEL_X1Y19; # xm104 sata cables

#INST m_llpi_phys_plat_aurora_device/ug_device_1/aurora_module_i/gt_wrapper_i/aurora_8b10b_v8_3_multi_gt_i/gtxe2_common_i LOC=GTXE2_COMMON_X1Y27;

#INST m_llpi_phys_plat_aurora_device/ug_device_2/aurora_module_i/gt_wrapper_i/aurora_8b10b_v8_3_multi_gt_i/gt0_aurora_8b10b_v8_3_i/gtxe2_i LOC=GTXE2_CHANNEL_X1Y26; # xm104 sata cables
#INST m_llpi_phys_plat_aurora_device/ug_device_2/aurora_module_i/gt_wrapper_i/aurora_8b10b_v8_3_multi_gt_i/gtxe2_common_i LOC=GTXE2_COMMON_X1Y26;

#INST m_llpi_phys_plat_aurora_device/ug_device_3/aurora_module_i/gt_wrapper_i/aurora_8b10b_v8_3_multi_gt_i/gt0_aurora_8b10b_v8_3_i/gtxe2_i LOC=GTXE2_CHANNEL_X1Y25; # xm104 sma cables
#INST m_llpi_phys_plat_aurora_device/ug_device_3/aurora_module_i/gt_wrapper_i/aurora_8b10b_v8_3_multi_gt_i/gtxe2_common_i LOC=GTXE2_COMMON_X1Y25;

#INST m_llpi_phys_plat_aurora_device/ug_device_4/aurora_module_i/gt_wrapper_i/aurora_8b10b_v8_3_multi_gt_i/gt0_aurora_8b10b_v8_3_i/gtxe2_i LOC=GTXE2_CHANNEL_X1Y24; # xm104 sma cables
#INST m_llpi_phys_plat_aurora_device/ug_device_4/aurora_module_i/gt_wrapper_i/aurora_8b10b_v8_3_multi_gt_i/gtxe2_common_i LOC=GTXE2_COMMON_X1Y24;


## Area groups
INST "m_llpi_phys_plat_aurora_device/ug_device_0/*" AREA_GROUP = "AG_aurora_0";
AREA_GROUP "AG_aurora_0"                  RANGE=SLICE_X206Y0:SLICE_X221Y63;
AREA_GROUP "AG_aurora_0"                  GROUP=CLOSED;

INST "m_llpi_phys_plat_aurora_device/*auroraFlowcontrol_0*" AREA_GROUP = "AG_aurora_0_fc";
AREA_GROUP "AG_aurora_0_fc"               RANGE=SLICE_X192Y0:SLICE_X205Y63;
AREA_GROUP "AG_aurora_1_fc"               RANGE=RAMB36_X13Y5:RAMB36_X13Y8;
AREA_GROUP "AG_aurora_0_fc"               GROUP=CLOSED;


INST "m_llpi_phys_plat_aurora_device/ug_device_1/*" AREA_GROUP = "AG_aurora_1";
AREA_GROUP "AG_aurora_1"                  RANGE=SLICE_X206Y186:SLICE_X221Y249;
AREA_GROUP "AG_aurora_1"                  GROUP=CLOSED;

INST "m_llpi_phys_plat_aurora_device/*auroraFlowcontrol_1*" AREA_GROUP = "AG_aurora_1_fc";
AREA_GROUP "AG_aurora_1_fc"               RANGE=SLICE_X192Y186:SLICE_X205Y249;
AREA_GROUP "AG_aurora_1_fc"               RANGE=RAMB36_X13Y42:RAMB36_X13Y45;
AREA_GROUP "AG_aurora_1_fc"               GROUP=CLOSED;

