
CONFIG PART = XC5VLX50T-FF1136-1 ;

###############################################################################
# Pinout and Related I/O Constraints
###############################################################################

#
# SYS reset (input) signal.  The sys_reset_n signal should be
# obtained from the PCI Express interface if possible.  For
# slot based form factors, a system reset signal is usually
# present on the connector.  For cable based form factors, a
# system reset signal may not be available.  In this case, the
# system reset signal must be generated locally by some form of
# supervisory circuit.  You may change the IOSTANDARD and LOC
# to suit your requirements and VCCO voltage banking rules.
#

NET "EN_pciExpressWires_sys_reset_n"      LOC = "H27"  | IOSTANDARD = LVCMOS25 | PULLUP | NODELAY ;

#
# SYS clock 100 MHz (input) signal. The sys_clk_p and sys_clk_n
# signals are the PCI Express reference clock. Virtex-5 GTP
# Transceiver architecture requires the use of a dedicated clock
# resources (FPGA input pins) associated with each GTP Transceiver Tile.
# To use these pins an IBUFDS primitive (refclk_ibuf) is
# instantiated in user's design.
# Please refer to the Virtex-5 GTP Transceiver User Guide
# (UG196) for guidelines regarding clock resource selection.
#

NET  "EN_pciExpressWires_sys_clk_p"       LOC = "Y4"  ;
NET  "EN_pciExpressWires_sys_clk_n"       LOC = "Y3"  ;

#
# Transceiver instance placement.  This constraint selects the
# transceivers to be used, which also dictates the pinout for the
# transmit and receive differential pairs.  Please refer to the
# Virtex-5 GTP Transceiver User Guide (UG196) for more
# information.
#

# PCIe Lanes 0, 1
INST "m_pi_llpint_phys_plat_pci_express_device_prim_pci/ep/BU2/U0/pcie_ep0/pcie_blk/SIO/.pcie_gt_wrapper_i/GTD[0].GT_i" LOC = GTP_DUAL_X0Y3;

# PCIe Lanes 2, 3
INST "m_pi_llpint_phys_plat_pci_express_device_prim_pci/ep/BU2/U0/pcie_ep0/pcie_blk/SIO/.pcie_gt_wrapper_i/GTD[2].GT_i" LOC = GTP_DUAL_X0Y2;



###############################################################################
# Physical Constraints
###############################################################################

#
# BlockRAM placement
#

INST "m_pi_llpint_phys_plat_pci_express_device_prim_pci/ep/BU2/U0/pcie_ep0/pcie_blk/pcie_mim_wrapper_i/bram_tl_tx/generate_tdp2[1].ram_tdp2_inst" LOC = RAMB36_X1Y9 ;
INST "m_pi_llpint_phys_plat_pci_express_device_prim_pci/ep/BU2/U0/pcie_ep0/pcie_blk/pcie_mim_wrapper_i/bram_tl_rx/generate_tdp2[1].ram_tdp2_inst" LOC = RAMB36_X1Y8 ;
INST "m_pi_llpint_phys_plat_pci_express_device_prim_pci/ep/BU2/U0/pcie_ep0/pcie_blk/pcie_mim_wrapper_i/bram_tl_tx/generate_tdp2[0].ram_tdp2_inst" LOC = RAMB36_X1Y7 ;
INST "m_pi_llpint_phys_plat_pci_express_device_prim_pci/ep/BU2/U0/pcie_ep0/pcie_blk/pcie_mim_wrapper_i/bram_tl_rx/generate_tdp2[0].ram_tdp2_inst" LOC = RAMB36_X1Y6 ;
INST "m_pi_llpint_phys_plat_pci_express_device_prim_pci/ep/BU2/U0/pcie_ep0/pcie_blk/pcie_mim_wrapper_i/bram_retry/generate_sdp.ram_sdp_inst"      LOC = RAMB36_X1Y5 ;

#
# Timing critical placements
#

INST "m_pi_llpint_phys_plat_pci_express_device_prim_pci/ep/BU2/U0/pcie_ep0/pcie_blk_if/ll_bridge/tx_bridge/tx_bridge/shift_pipe1" LOC = "SLICE_X59Y36" ;
INST "m_pi_llpint_phys_plat_pci_express_device_prim_pci/ep/BU2/U0/pcie_ep0/pcie_blk_if/ll_bridge/rx_bridge/arb_inst/completion_available" LOC = "SLICE_X58Y26" ;
INST "m_pi_llpint_phys_plat_pci_express_device_prim_pci/ep/BU2/U0/pcie_ep0/pcie_blk_if/cf_bridge/management_interface/mgmt_rdata_d1_3" LOC = "SLICE_X59Y25" ;
###############################################################################
# Timing Constraints
###############################################################################

#
# Timing requirements and related constraints.
#

# NET "sys_clk_c"                                      PERIOD = 10ns;

NET "m_pi_llpint_phys_plat_pci_express_device_prim_pci/ep/BU2/U0/pcie_ep0/pcie_blk/SIO/.pcie_gt_wrapper_i/gt_refclk_out[0]" TNM_NET = "MGTCLK" ;

TIMESPEC "TS_MGTCLK"  = PERIOD "MGTCLK" 100.00 MHz HIGH 50 % ;

###############################################################################
# End
###############################################################################

// RST_N

NET "RST_N" LOC="G27";

// CLOCK

NET "CLK" LOC = "J16" | IOSTANDARD = LVCMOS25;

// LEDS

NET "ledsWires_leds[0]" LOC="J27" | IOSTANDARD=LVCMOS25 | DRIVE=12 | SLEW=SLOW;
NET "ledsWires_leds[1]" LOC="J26" | IOSTANDARD=LVCMOS25 | DRIVE=12 | SLEW=SLOW;
NET "ledsWires_leds[2]" LOC="G25" | IOSTANDARD=LVCMOS25 | DRIVE=12 | SLEW=SLOW; 
NET "ledsWires_leds[3]" LOC="G26" | IOSTANDARD=LVCMOS25 | DRIVE=12 | SLEW=SLOW;
NET "ledsWires_leds[4]" LOC="H25" | IOSTANDARD=LVCMOS25 | DRIVE=12 | SLEW=SLOW;
NET "ledsWires_leds[5]" LOC="H24" | IOSTANDARD=LVCMOS25 | DRIVE=12 | SLEW=SLOW;
NET "ledsWires_leds[6]" LOC="F25" | IOSTANDARD=LVCMOS25 | DRIVE=12 | SLEW=SLOW; 
NET "ledsWires_leds[7]" LOC="F26" | IOSTANDARD=LVCMOS25 | DRIVE=12 | SLEW=SLOW;

// SWITCHES

NET "switchesWires_switches_1[0]" LOC="K24" | IOSTANDARD=LVCMOS25;
NET "switchesWires_switches_1[1]" LOC="L24" | IOSTANDARD=LVCMOS25;
NET "switchesWires_switches_1[2]" LOC="L25" | IOSTANDARD=LVCMOS25;
NET "switchesWires_switches_1[3]" LOC="L26" | IOSTANDARD=LVCMOS25;
NET "switchesWires_switches_1[4]" LOC="J24" | IOSTANDARD=LVCMOS25;
NET "switchesWires_switches_1[5]" LOC="J25" | IOSTANDARD=LVCMOS25;
NET "switchesWires_switches_1[6]" LOC="M25" | IOSTANDARD=LVCMOS25;
NET "switchesWires_switches_1[7]" LOC="M26" | IOSTANDARD=LVCMOS25;
